@{
    ViewBag.Title = "Noggin .NetCore Auth";
}

<section class="intro">
	<h1>Noggin .NetCore Auth</h1>
    <p><stromg>Noggin .NetCore Auth</strong> is a simple library for doing social logins in .NET Core MVC. Does the authentication part, but has no opinion on how you store details about your users.</p>
	<p>The source code is available at the <a href="https://github.com/NogginBox/NogginAuth">Noggin .NetCore Git Repo</a>.</p>
	<p>For a working example download a <a href="https://github.com/NogginBox/NogginAuth/archive/master.zip">zip of the source code including the sample site</a>.
</section>

<section>
    <section class="col2">
        <h2>Unopinionated</h2>
        <ul>
            <li>Easy to add to an existing application</li>
            <li>We don't care how you store your users</li>
            <li>No dependencies on ...</li>
            <li>More power, means a little bit more work to set up, but still pretty straight forward</li>
        </ul>
    </section>
    <section class="col2">
        <h2>Lots of social login providers</h2>
        <ul>
            <li>Twitter</li>
            <li>Google</li>
            <li>Facebook</li>
            <li>3... that's lots, right?</li>
        </ul>
    </section>
</section>

<section class="setup">
    <h2>How to set up</h2>
    <p>For an example site of NogginNetCoreAuth in action, this site is available in the source code at ...</p>
    <p>The important steps are:</p>
    <ol>
        <li><a href="#nuget">Install the nuget package</a></li>
        <li><a href="#ILoginHandler">Implement ILoginHandler</a></li>
        <li><a href="#startupcs">Add some bits to Startup.cs</a></li>
        <li><a href="#appsettings">Add provider settings to appsettings.json</a></li>
        <li><a href="#loginButton">Add a login button to your site</a></li>
    </ol>
</section>

<section class="setup" id="nuget">
    <h3>1) Install the nuget package</h3>
    <pre class="code">PM> Install-Package Noggin.NetCoreAuth</pre>
</section>

<section class="setup" id="ILoginHandler">
    <h3>2) Implement ILoginHandler</h3>
    <p>This is the step that requires most though and the one that gives you the most power and freedom. Noggin.NetCoreAuth.Providers.ILoginHandler has two methods. One is called if the user successfully authenticates with their chosen social login provider, the other is called if they fail. We send you the information we've been able to glean about them from the provider, but you need to log them in (or not) to your site and save anything you need to.</p>
<pre class="code">
ActionResult SuccessfulLoginFrom(string provider, UserInformation user, HttpContext context);
ActionResult FailedLoginFrom(string provider, UserInformation user, HttpContext context);
</pre>
    <p>See <span>SampleLoginHandler</span> in the sample site for an example of one. The important part is that we don't have any opinion on how to store your user, or even if you need to. We just tell you who they are.</p>
</section>

<section class="setup" id="startupcs">
    <h3>3) Add some bits to Startup.cs</h3>
    <p>You'll need the following using statement:</p>
    <pre class="code">using Noggin.NetCoreAuth.Config;</pre>
    <p>In <strong class="code">ConfigureServices(...)</strong> you'll need to register NoggginNetCoreAuth, tell it what type your implentation of <span class="code">ILoginHandler</span> is and pass it an instance of <span class="code">IConfigurationRoot</span> so it can get settings from <span class="code">appsettings.json</span>.</p>

<pre class="code">
public void ConfigureServices(IServiceCollection services)
{
    services.AddNogginNetCoreAuth&lt;YourFunkyLoginHandler&gt;(Configuration);
    // ...
}
</pre>

    <p>Where you register your routes you'll need to register the authentication routes. These can be modified in appsettings</p>
<pre class="code">
public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
{
    ..//

    app.UseMvc(routes =>
    {
        routes.MapRoute(
            name: "default",
            template: "{controller=Home}/{action=Index}/{id?}");

        routes.MapNogginNetAuthRoutes(app.ApplicationServices);
    });
}
</pre>
</section>

<section class="setup" id="appsettings">
    <h3>5) Add provider settings to appsettings.json</h3>
    <p>This is where you say which providers you want to use and to fill in your developer credentials. You need to register an API key for each provider you want to use.</p>
    <p>Add a x section to your appsettings like this:</p>
<pre class="code">
"NogginNetAuth": {
	"Providers": [
		{
			"Name": "Twitter",
			"RedirectTemplate": "auth/twitter",
			"CallbackTemplate": "auth/twitter/callback",
			"Api": {
				"PublicKey": "...",
				"PrivateKey": "..."
			}
		},
		{
			"Name": "Facebook",
			"Api": {
				"PublicKey": "...",
				"PrivateKey": "..."
			}
		},
		{
			"Name": "Google",
			"Api": {
				"PublicKey": "...",
				"PrivateKey": "..."
			}
		}
	],
	"DefaultRedirectTemplate": "auth/{provider}",
	"DefaultCallbackTemplate": "auth/callback/{provider}"
}
</pre>
</section>

<section class="setup" id="logginButton">
    <h4>5) Add a login button to your site</h4>
    <p>So you can use Noggin Core Auth Tag helpers add the following to <span class="code">Views/_ViewImports.cshtml</span>.</p>
    <pre class="code">@@addTagHelper &quot;*, Noggin.NetCoreAuth&quot;</pre>
    <p>Once this is included all you need to do is add:</p>
    <pre class="code">&lt;auth-link provider=&quot;twitter&quot;&gt;Twitter&lt;/auth-link&gt;</pre>
    <p>This will render an &lt;a&gt; tag with a link to correct place to kick off authentication. You can set <span class="code">provider</span> to be any of your configured providers.</p>
</section>