@model Noggin.SampleSite.ViewModels.UserAdmin.IndexViewModel

<section>
    <h1>Your account</h1>
    <p><strong>Name: @Model.User.Name</strong>
</section>

<section>
    <h1>All registered users</h1>
    <table class="data">
        <tr>
            <th>Username</th>
            <th>Linked accounts</th>
        </tr>
        @foreach(var user in Model.AllUsers)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.AuthAccountNames (@user.NumberOfAuthAccount)</td>
            </tr>
        }
    </table>
</section>