* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eee;
}

li {
    margin: 0 0 0.5em 1em;
}

p {
    margin: 0 0 1em 0;
}

header {
    background-color: #000;
    color: #fff;
}

    header a {
        color: #fff;
        text-decoration: none;
    }

    header h1 {
        display: inline-block;
        vertical-align: central;
        width: 29%;
        padding: 10px;
    }

    header nav {
        display: inline-block;
        vertical-align: middle;
        width: 70%;
    }

nav {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    vertical-align: middle;
}

nav li {
    display: inline;
    padding: 5px;
}

nav li a {
    padding: 10px;
}

nav li a:hover {
    background-color: #111;
}

section.col2 {
    display: inline-block;
    width: 45%;
    margin: 1em;
}

section.setup, section.intro {
    margin: 10px 5em;
    padding: 1em;
    background-color: #fff;
}

pre.code {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 10px;
}

.code {
    font-family: Courier New, Courier, monospace;
}